---
import Base from '../layouts/Base.astro';
import Hero from '../components/Hero.astro';
import ValueProps from '../components/ValueProps.astro';
import Collections from '../components/Collections.astro';
import FeaturedProducts from '../components/FeaturedProducts.astro';
import Story from '../components/Story.astro';
import Testimonials from '../components/Testimonials.astro';
import CTA from '../components/CTA.astro';
---

<Base>
  <main>
    <Hero />
    <ValueProps />
    <Collections />
    <FeaturedProducts />
    <Story />
    <Testimonials />
    <CTA />
  </main>
</Base>
